<div class="container">
    <mat-card>
        <h1>Paramètres</h1>
    </mat-card>

    <br>
    
    <mat-card>
        <div [ngClass]="[Display.flex, Display.justify.between, Display.align.start]">
            <div>
                <h2>Reset</h2>
                <p>This will reset the database and recreate the tables using the file bellow.</p>
            </div>
            
            <button mat-flat-button color="warn" (click)="reset()">Reset</button>
        </div>

        <textarea readonly [ngClass]="['code-block']" rows="18">{{ resetScript }}</textarea>
    </mat-card>
</div>