<h2 mat-dialog-title>Modifier le plan repas</h2>
<div id="container">
    <div>
        <mat-form-field
            class="form-field"
            appearance="outline"
            [formGroup]="formParameters"
            [ngStyle]="{ width: '100%' }"
        >
            <mat-label>Catégorie</mat-label>
            <input
                matInput
                type="text"
                formControlName="newCategorie"
                autocomplete="off"
                (ngModelChange)="ngOnChanges()"
                (valueChanges)="ngOnChanges()"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let cat of categories" [value]="cat">
                  {{cat}}
              </mat-option>
            </mat-autocomplete>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field
            class="form-field"
            appearance="outline"
            [formGroup]="formParameters"
            [ngStyle]="{ width: '100%' }"
            >
            <mat-label>Fréquence</mat-label>
            <input
                matInput
                type="number"
                formControlName="newFrequence"
                (ngModelChange)="ngOnChanges()"
                (valueChanges)="ngOnChanges()"
                pattern="[0-9]*"
            />
        </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Nombre de personnes</mat-label>
          <input
              matInput
              type="number"
              formControlName="newNbrPersonnes"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"              
              pattern="[0-9]*"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Nombre de calories</mat-label>
          <input
              matInput
              type="number"
              formControlName="newNbrCalories"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"
              pattern="[0-9]*"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Prix</mat-label>
          <input
              matInput
              type="number"
              formControlName="newPrix"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Fournisseur</mat-label>
          <mat-select
            matInput
            formControlName="newIdFournisseur"
            (ngModelChange)="ngOnChanges()"
            (valueChanges)="ngOnChanges()"
          >
            <mat-option disabled>Fournisseur</mat-option>
            <mat-option *ngFor="let fournisseur of fournisseurs?.data" [value]="fournisseur.idfournisseur">
                {{ fournisseur.nomfournisseur }}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="[Display.flex, Display.justify.end, Display.gap[3]]">
        <button mat-flat-button color = "primary" (click)="updatePlanRepas()" [disabled]="!formParameters.valid">
            <mat-icon fontIcon="edit"></mat-icon>
            Mettre à jour
        </button>
        <button mat flat button mat-button color = "primary" (click)="closeDialog()">
            Annuler
        </button> 
    </div>
</div>
    

