<table mat-table [dataSource]="getItems()" [ngStyle]="{ width: '100%' }">
    <ng-container *ngFor="let col of getColumns()">
        <ng-component *ngIf="col === ACTION_COLUMN">
            <ng-container [matColumnDef]="col">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let data">
                    <div [ngClass]="[Display.flex, Display.gap[2], Display.align.center]">
                        <ng-container *ngFor="let button of buttons">
                            <button mat-flat-button color="primary" [disabled]="isDisabled(button, data)" (click)="button.action?.(data)">
                                <ng-container *ngIf="button.icon"><mat-icon [fontIcon]="button.icon"></mat-icon></ng-container>
                                <ng-container *ngIf="button.text">{{button.text}}</ng-container>
                            </button>
                        </ng-container>
                    </div>
                </td>
            </ng-container>
        </ng-component>

        <ng-component *ngIf="col !== ACTION_COLUMN">
            <ng-container [matColumnDef]="col">
                <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                <td mat-cell *matCellDef="let data">{{data[col]}}</td>
            </ng-container>
        </ng-component>
        
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>
</table>
<ng-container *ngIf="getUpdated()">
    <p [ngClass]="[Typography.h6, Colors.faded, Display.margin.top[1]]">
        <span [ngClass]="[Typography.weight.semibold]">Mise à jour :</span> {{ getUpdated() }}
    </p>
</ng-container>
