<div class="container">
    <mat-card>
        <h1 [ngClass]="[Display.margin[0], Display.margin.bottom[2]]">Home</h1>
        <h2>Plan repas</h2>
        <div [ngClass]="[Display.flex, Display.gap[3]]">
            <a *ngFor="let tableName of tableNames" [routerLink]="'/data/' + tableItems[tableName].path" mat-flat-button color="primary">
                {{tableItems[tableName].name}}
            </a>
        </div>
    </mat-card>

    <br>
    
    <mat-card>
        <app-table-wrapper table="planRepas"></app-table-wrapper>
    </mat-card>    
</div>
