<div class="container">
    <mat-card>
        <div [ngClass]="[Display.flex, Display.justify.between]">
            <h1 [ngClass]="[Display.margin[0]]">Home</h1>
        </div>
    </mat-card>
    
    <br>
    
    <mat-card>
        <app-loading [loading]="planRepas.loading">
            <app-table [items]="planRepas.data" [buttons]="[{ icon: 'delete', action: openDeleteScreen.bind(that) }, { icon: 'edit', action: openUpdateScreen.bind(that) }]"></app-table>

            <div [ngClass]="[Display.flex, Display.justify.end, Display.margin.top[3], Display.gap[3]]">
                <button mat-flat-button color="primary" (click)="openAddScreen()">Add</button>
                <button mat-flat-button color="primary" (click)="update()">Update</button>
            </div>
        </app-loading>
    </mat-card>    
</div>
