<div class="container">
    <mat-card [ngClass]="'header'">
      <h1 [ngClass]="[Display.margin[0], Display.margin.bottom[2]]"></h1>
      <h2>{{ name }}</h2>
      <div [ngClass]="[Display.flex, Display.gap[3], 'header__buttons-container']">
          <a *ngFor="let tableName of tableItemsHere" [routerLink]="'/data/' + tableName.path" mat-flat-button [ngClass]="['header__button', (tableName.active ? 'header__button--active' : '')]" color="primary">
              {{tableName.name}}
          </a>
      </div>
  </mat-card>

    <br>
    
    <mat-card>
        <app-loading [loading]="table === undefined">
            <app-table-wrapper [table]="table"></app-table-wrapper>
        </app-loading>
    </mat-card>
</div>

