<mat-toolbar [ngClass]="['header']" color="primary">
    <div [ngClass]="[Display.flex, Display.justify.between, 'container--no-pad']">
        <div>
            <span class="header__title">INF3710 TP4</span>
        </div>
        <div [ngClass]="['header__items-container', Display.flex]">
            <span *ngFor="let item of items" [ngClass]="['header__item', Typography.h5, (item.active ? 'header__item--active' : '')]">
                <a 
                    routerLink="{{ item.active ? null : item.path }}"
                    [ngClass]="[Colors.white, Typography.decoration.none, Typography.weight.normal, Display.padding.vertical[3], Display.padding.horizontal[2]]"
                >{{ item.title }}</a>
            </span>
        </div>
    </div>
</mat-toolbar>
