<h2 mat-dialog-title>Ajouter un plan repas</h2>
<div id="container">
    <div>
        <mat-form-field
            class="form-field"
            appearance="outline"
            [formGroup]="formParameters"
            [ngStyle]="{ width: '100%' }"
        >
            <mat-label>Catégorie</mat-label>
            <input
                matInput
                type="text"
                formControlName="newCategorie"
                autocomplete="off"
                (ngModelChange)="ngOnChanges()"
                (valueChanges)="ngOnChanges()"
            />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field
            class="form-field"
            appearance="outline"
            [formGroup]="formParameters"
            [ngStyle]="{ width: '100%' }"
            >
            <mat-label>Fréquence</mat-label>
            <input
                matInput
                type="number"
                formControlName="newFrequence"
                (ngModelChange)="ngOnChanges()"
                (valueChanges)="ngOnChanges()"
                pattern="[0-9]*"
            />
        </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Nombre de personnes</mat-label>
          <input
              matInput
              type="number"
              formControlName="newNbrPersonnes"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"
              pattern="[0-9]*"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Nombre de calories</mat-label>
          <input
              matInput
              type="number"
              formControlName="newNbrCalories"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"
              pattern="[0-9]*"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Prix</mat-label>
          <input
              matInput
              type="number"
              formControlName="newPrix"
              (ngModelChange)="ngOnChanges()"
              (valueChanges)="ngOnChanges()"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
          class="form-field"
          appearance="outline"
          [formGroup]="formParameters"
          [ngStyle]="{ width: '100%' }"
          >
          <mat-label>Fournisseur</mat-label>
          <mat-select
            matInput
            formControlName="newIdFournisseur"
            (ngModelChange)="ngOnChanges()"
            (valueChanges)="ngOnChanges()"
          >
            <mat-option disabled>Fournisseur</mat-option>
            <mat-option *ngFor="let fournisseur of fournisseurs?.data" [value]="fournisseur.idfournisseur">
                {{ fournisseur.nomfournisseur }}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="[Display.flex, Display.justify.end, Display.gap[3]]">
        <button mat-flat-button color = "primary" (click)="addPlanRepas()" [disabled]="false">
            <mat-icon fontIcon="add"></mat-icon>
            Ajouter
        </button>
        <button mat flat button mat-button color = "primary" (click)="closeDialog()">
            Annuler
        </button> 
    </div>
</div>
    

